/* Clanok2.css */

.mazda-miata-blog,
.tesla-model-s-blog {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.blog-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.reverse {
  flex-direction: row-reverse;
}

.text-section {
  flex: 1;
  padding: 0 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
